.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;
}
.page-header .navbar-nav{ float: right;}
.page-header>div>div, .page-header>div>ul {
  display:inline-block;
}
.text-edit{
  padding: 13px 0 0 0;
}
.account {
  text-align:right;
}
.account>div , .account>ul {
  text-align:left;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

.center {
  text-align: center;
}

.scanner {
  width: 500px;
  display: inline-block;
  height: 400px;
  margin: 12px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 6px 6px 5px #888888;
}

.admin {
  width: 500px;
  position: relative;
  left: 550px;
  top: -430px;
  height: 400px;
  margin: 12px;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 6px 6px 5px #888888;
}

textarea {
  resize: none;
  margin: 10px;
  margin-left: 60px;
  position: absolute;
  border-radius: 4px;
}

pre {
  background-color: #FFF;
  border: none;
}

.results {
  margin: 6px;
  padding: 6px;
  position: relative;
  top: 88px;
  left: 28px;
  width: 420px;
  height: 280px;
  border-radius: 4px;
  border: 2px solid black; 
}

.button_holder {
  position: absolute;
  background-color: #DDD;
  margin: 9px;
  margin-left: 36px;
  border-radius: 12px;
  box-shadow: 4px 4px 3px #888888;
  width: 420px;
  height: 70px;
}

.scan_button {
  margin: 10px;
  position: inline-block;
  width: 40px;
  height: 30px;
  border-radius: 7px;
}

.scan_reset {
  margin: 12px;
  position: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 7px;
}

.submit_button {
  margin: 6px;
  position: relative;
  top: 260px;
  left: 10px;
  width: 80px;
  height: 30px;
  border-radius: 7px;
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
